@{
    ViewBag.Title = "Home Page";
}
<div class="alert alert-success" role="alert">
    <button type="button" class="close" data-dismiss="alert">
        X
    </button>
    This page is  under construction, there is  more features to add in the future!
</div>
    
<div>
    <img src="~/Images/Banner.jpg" class="img-responsive"/>
</div>


<div class="row">
    <div class="col-md-3">
        <h2>Students</h2>
        <p>
          View all students registered in the university, their registration dataes and programmes and courses they are registered at ABC university.
        </p>
        <p><a class="btn btn-success" href="http://localhost:57985/Student">View all students &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Courses </h2>
        <p>View all course codes, their titles, credit hours and departments as well. You can also find here more information about the ABC university.</p>
        <p><a class="btn btn-success" href="http://localhost:57985/Course">View all courses &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Teachers</h2>
        <p> View all teachers, their employments dates, office locations, courses they are assigned to and as well as the students subscribed in those courses.</p>
        <p><a class="btn btn-success" href="http://localhost:57985/Teacher">View all teachers &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Departments</h2>
        <p> View all departments, established dates, budgets and department heads or department administrators.</p>
        <p><a class="btn btn-success" href="http://localhost:57985/Department">View all departments &raquo;</a></p>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <h2>How to apply</h2>
        <p>
            Here we guide you through the application process, explain the entry requirements and other important things that you need to know when applying 
            to our courses and programmes. Common questions and answers can be found in our 'FAQ and contact' at the bottom of this page.
        </p>
        <p><a class="btn btn-success" href="https://go.microsoft.com/fwlink/?LinkId=301865">Read more &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Admissions</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-success" href="https://go.microsoft.com/fwlink/?LinkId=301866">Read more &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Study programmes</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-success" href="https://go.microsoft.com/fwlink/?LinkId=301867">Read more &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Notifications</h2>
        <p> Notification about university admissions this year. You can easily find info about your university that offers the right education for you.</p>
        <p><a class="btn btn-success" href="https://go.microsoft.com/fwlink/?LinkId=301867">Read more &raquo;</a></p>
    </div>
</div>